{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
    <h1>Welcome, {{user.username}}</h1>
    <br/>
    {% if records %}
    <table class="table table-striped table-hover table-bordered table-condensed ">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
          </tr>
        <tbody>
          {% for record in records %}
          <tr>
            <td><a href="{% url 'User' record.id %}">{{record.id}}</a></td>
            <td>{{record.username}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h2>No Records Found</h2>
      {% endif %}
    {% else %}
    <h1>Login</h1>
    <br/>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username",  placeholder="Username" required>
        </div><br/>
        <div class="mb-3">
          <input type="password" class="form-control", name="password", placeholder="Password" required >
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
    </form>
    {% endif %}
</div>
{% endblock %}
    